.navbar-dark {
    background-color: #08244c;
}

.nav a {
    color: white;
    text-transform: uppercase;
}

.footer-dark {
    background-color: #08244c;
    color: white;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

body {
    padding: 50px 0px 0px 0px;
    background-color: #131313;
    z-index: 0;
}

.question-mini-card {
    height: 180px;
    min-width: 320px;
    background-color: #1f1f1f;
    color: white;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}

.question-number-card {
    height: 50px;
    line-height: 50px;
    padding-top: 15px;
    background-color: #1f1f1f;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.question-body-card {
    height: 250px;
    line-height: 250px;
    padding-top: 15px;
    background-color: #1f1f1f;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.question-choices-card {
    height: 270px;
    background-color: #1f1f1f;
    color: white;
    padding: 0px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.choice-button {
    height: 40px;
    background-color: #a15f08;
    color: white;
    text-align: left !important;
    padding-top: px;
    padding-bottom: 5px;
    width: 95%;
    display: block;
}

.question-bank {
    height: 20vh;
    line-height: 300px;
}

.horizontal-scrollable > .row {
    overflow-x: scroll;
    whitespace: nowrap;
}

.horizontal-scrollable > .question-mini-card {
    display: inline-block;
    float: none;
}

.question-preview-card {
    padding-top: 15px;
    background-color: #1f1f1f;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.height-full {
    height: 75vh;
}

.bg-dark {
    background-color: #1f1f1f;
    color: white;
}

.card-dark {
    background-color: #1f1f1f;
    color: white
}

.card-header-dark {
    background-color: #a15f08;
    color: white;
    font-weight: bold;
}

.card-clickable {
    background-color: white;
}
.card-clickable.active {
    background-color: #a15f08;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}