.content-container {
    position: absolute;
    top: 60px;
    height: calc(100vh - 60px);
}

.container-no-padding {
    padding: 0;
}

.page-dark {
    background-color: #131313;
}

.card-very-dark {
    background-color: #131313;
    color: floralwhite;
}

.card-dark {
    background-color: #1f1f1f;
}


.card-format {
    height: 100%;
}

.background-light {
    background: whitesmoke;
}

.question-deck .question-card {
    min-height: 15vh;
    height: 15vh;
    min-width: calc((15vh / 9) * 16);
    max-height: 20vh;
    max-width: 15vw;
    color: white;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}

.question-card:hover {
    border: 2px solid rgba(255, 250, 240, .4);
}

.question-card:hover .removal-button{
    display: inline-block;
}

.removal-button {
    display: none;
    position: absolute;
    top: 0.50rem;
    right: 0.50rem;
    background: #dc3545;
    color: floralwhite;
    user-select: none;
    padding: 4px 0.5rem;
    font-size: 12px;
}

.question-deck .question-card.question-card-active {
    border: 2px solid white;
}

.button-card {
    display: flex;
    border: 2px solid rgba(255, 250, 240, .4);
    align-items: center;
    justify-content: center;
}

.horizontal-scrollable > .row {
    overflow-x: scroll;
    whitespace: nowrap;
}

.horizontal-scrollable > .question-mini-card {
    display: inline-block;
    float: none;
}

.badge-question-number {
    background-color: rgba(255, 250, 240, 0.10);
    font-size: 11px;
    user-select: none;
}