.card.card-dark {
    background-color: #1f1f1f;
}

.card.card-very-dark {
    background-color: #131313;
    color: floralwhite;
}

.card.button-card {
    display: flex;
    border: 2px solid rgba(255, 250, 240, .4);
    align-items: center;
    justify-content: center;
}

.card.button-card:hover {
    display: flex;
    border: 2px solid rgba(255, 250, 240, .4);
    background: darkorange;
    justify-content: center;
}

.card.card-format {
    height: 100%;
}

.textarea.question-input {
    border: none;
    height: 100%;
    width: 100%;
    resize: none;
    background-color: transparent;
    font-family: inherit;
    color: floralwhite;
    font-size: 2em;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
}

textarea.question-input:focus {
    outline: none;
}

.container-fluid.container-no-padding {
    padding: 0;
}

.card.answer-card {
    dispaly: flex;
    border: 2px solid rgba(255, 250, 240, .4);
}

.card-body.center {
    display: flex;
    align-items: center;
}

.btn.answer-removal-button {
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    color: floralwhite;
    user-select: none;
    padding: 4px 0.5rem;
    font-size: 12px;
}

.card.answer-card:hover .answer-removal-button{
    display: inline-block;
    zIndex: 9999;
}