.card.card-dark {
    background-color: #1f1f1f;
}

.card.card-very-dark {
    background-color: #131313;
    color: floralwhite;
}

.card.button-card {
    display: flex;
    border: 2px solid rgba(255, 250, 240, .4);
    align-items: center;
    justify-content: center;
}

.card.button-card:hover {
    display: flex;
    border: 2px solid rgba(255, 250, 240, .4);
    background: darkorange;
    justify-content: center;
}

.card.card-format {
    height: 100%;
}

.textarea.question-input {
    border: none;
    height: 100%;
    width: 100%;
    resize: none;
    background-color: transparent;
    font-family: inherit;
    color: floralwhite;
    font-size: 2em;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
}

textarea.question-input:focus {
    outline: none;
}