.container-fluid.selector {
    padding: 0 .25rem 0.5rem;
}

.card.card-dark {
    background-color: #1f1f1f;
}

.container-fluid.question-deck {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    padding: 0.5rem 0 1rem;
}

.card.question-card {
    height: calc((0.25 * (100vh - 60px)) - 2rem);
    min-width: calc((16 / 9) * ((0.25 * (100vh - 60px)) - 2rem)); /* Exact measurements used to achieve aspect ratio */
    max-width: calc((16 / 9) * ((0.25 * (100vh - 60px)) - 2rem)); /* Exact measurements used to achieve aspect ratio */
    margin-right: 0.5rem;

    color: white;
    font-weight: bold;
    font-size: 15px;
}

.card.add-question-card {
    height: calc((0.25 * (100vh - 60px)) - 2rem);
    min-width: calc((16 / 9) * ((0.25 * (100vh - 60px)) - 2rem)); /* Exact measurements used to achieve aspect ratio */
    max-width: calc((16 / 9) * ((0.25 * (100vh - 60px)) - 2rem)); /* Exact measurements used to achieve aspect ratio */

    color: white;
    font-weight: bold;
    font-size: 15px;
}

.card.question-card:hover {
    border: 2px solid rgba(255, 250, 240, .4);
}

.card.question-card:hover .btn.removal-button {
    display: inline-block;
    background-color: #dc3545;
}

.btn.removal-button {
    display: none;
    position: absolute;
    top: 0.50rem;
    right: 0.50rem;
    color: floralwhite;
    user-select: none;
    padding: 4px 0.5rem;
    font-size: 12px;
}

.card.question-card.question-card-active {
    border: 2px solid white;
}

.badge.badge-question-number {
    background-color: rgba(31, 31, 31, 1);
    font-size: 11px;
    user-select: none;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    zIndex: 9999;
}