.content-container {
    position: absolute;
    top: 60px;
    height: calc(100vh - 60px);
}

.container-no-padding {
    padding: 0;
}

.page-dark {
    background-color: #131313;
}

/*.card {*/
/*    color: #1f1f1f;*/
/*}*/

/*.card-dark {*/
/*    color: #1f1f1f;*/
/*}*/

.card-format {
    height: 100%;
}

.background-light {
    background: whitesmoke;
}

.removal-button {
    display: none;
    position: absolute;
    top: 0.50rem;
    right: 0.50rem;
    color: floralwhite;
    user-select: none;
    padding: 4px 0.5rem;
    font-size: 12px;
}

.button-card {
    display: flex;
    border: 2px solid rgba(255, 250, 240, .4);
    align-items: center;
    justify-content: center;
}

.button-card:hover {
    display: flex;
    border: 2px solid rgba(255, 250, 240, .4);
    background: darkorange;
    justify-content: center;
}


.horizontal-scrollable > .row {
    overflow-x: scroll;
    whitespace: nowrap;
}

.horizontal-scrollable > .question-mini-card {
    display: inline-block;
    float: none;
}

.badge-question-number {
    background-color: rgba(31, 31, 31, 1);
    font-size: 11px;
    user-select: none;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    zIndex: 9999;
}