.answer-card {
    display: flex;
    border: 2px solid rgba(255, 250, 240, .4);
}

.center {
    display: flex;
    align-items: center;
}

.answer-removal-button {
    display: none;
    position: absolute;
    top: 0.50rem;
    right: 0.50rem;
    color: floralwhite;
    user-select: none;
    padding: 4px 0.5rem;
    font-size: 12px;
}

.answer-card:hover .answer-removal-button{
    display: inline-block;
}

.answer-input {
    border: none;
    height: 100%;
    width: 100%;
    resize: none;
    background-color: transparent;
    font-family: inherit;
    color: floralwhite;
    font-size: 1em;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
}

.answer-input:focus {
    outline: none;
}

