.question-input {
    border: none;
    height: 100%;
    width: 100%;
    resize: none;
    background-color: transparent;
    font-family: inherit;
    color: floralwhite;
    font-size: 2em;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
}

.question-input:focus {
    outline: none;
}