.content {
    height: calc(100vh - 60px);
    margin-top: 60px;
}

.primary-dark-theme {
    background-color: #131313;
}

.secondary-dark-theme {
    background-color: #1f1f1f;
}

.card.primary-dark-theme {
    background-color: #131313;
}

.card.secondary-dark-theme {
    background-color: #1f1f1f;
}

.text-dark-theme {
    color: floralwhite;
}

.card.card-flex {
    flex: 1
}

.quiz-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    padding-right: 3rem;
}

.card.button-card {
    margin: 0 0 0;
    border: 2px solid rgba(255, 250, 240, .4);
    align-items: center;
    justify-content: center;
}

.card.button-card:hover {
    display: flex;
    border: 2px solid rgba(255, 250, 240, .4);
    background: darkorange;
    justify-content: center;
}

.card.quiz-card {
    border: 2px solid rgba(255, 250, 240, 0);
    color: white;
    font-weight: bold;
    font-size: 15px;
    position: relative;
}

.card.quiz-card:hover {
    border: 2px solid rgba(255, 250, 240, .4);
}

.quiz-title {
    position: relative;
    z-index: 1;
    float: left;
    user-select: none
}

.card.quiz-title-card {
    border: 2px solid rgba(255, 250, 240, .4);
    justify-content: center;
    user-select: none;
    position: relative;
    z-index: 1;
    float: left;
    user-select: none
}

.title-entry-input {
    color: floralwhite;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.title-entry-input:focus {
    border: none;
    outline: none;
}

.quiz-options {
    position: absolute;
    z-index: 3;
    right: 0;
    margin-right: 120px;
    display: none;
}

.card.quiz-card:hover .quiz-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.card.question-count-card {
    border: 2px solid rgba(255, 250, 240, .4);
    justify-content: center;
    margin-right: 0.5rem;
    position: absolute;
    z-index: 3;
    right: 0;
    user-select: none;
}

/*.card.quiz-card:hover .question-count-card {*/
/*    margin-left: 0*/
/*}*/

.btn {
    margin-bottom: 0;
}

.btn.close-session-pane {
    display: none;
    position: absolute;
}

.card.session-pane:hover .btn.close-session-pane {
    display: block;
}